<nav class="navbar navbar-expand-lg navbar-dark nav-shell sticky-top">
  <div class="container">
    <a class="navbar-brand brand-mark" href="/">AuthCompare Lab</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/compare">Compare</a></li>
        <% if (isAuthenticated) { %>
          <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
          <li class="nav-item">
            <form action="/logout" method="POST">
              <button class="btn btn-outline-light btn-sm nav-logout" type="submit">Logout</button>
            </form>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
